/node_modules
/public/hot
/public/storage
/storage/*.key
/data/storage
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/tests/Browser/data/*.csv
/data
/mss
/public/css
/public/js
/public/img
/public/fonts
/public/mix-manifest.json
/public/webfonts
/public/vendor/telescope
docker-compose.yml
