# --------------------------------------------
# REQUIRED: MAIN APP SETTINGS
# --------------------------------------------
APP_NAME="myTinyWMS"
APP_ENV=production
APP_DEBUG=false
DEMO_MODE=false
APP_KEY=<<set this!>>
APP_URL=http://localhost/
LOGO_PATH=
HORIZON_NOTIFICATION_RECEIVER=
INVENTORY_MANUAL_RECEIVER=
INVENTORY_AUTOMATIC_RECEIVER=


# --------------------------------------------
# REQUIRED: DATABASE SETTINGS
# --------------------------------------------
MYSQL_PORT_3306_TCP_ADDR=db
MYSQL_PORT_3306_TCP_PORT=3306
MYSQL_DATABASE=mss
MYSQL_ROOT_PASSWORD=<< set secure password here >>
MYSQL_USER=root
MYSQL_PASSWORD=<< set secure password here >>


# --------------------------------------------
# REDIS SETTINGS - required if queue driver is set to redis!
# --------------------------------------------
APP_QUEUE_DRIVER=sync
REDIS_PORT_6379_HOST=redis
REDIS_PORT_6379_PASSWORD=null
REDIS_PORT_6379_PORT=6379


# --------------------------------------------
# AUTHENTICATION SETTINGS
# --------------------------------------------
AUTH_DRIVER=eloquent

# set this if AUTH_DRIVER = ldap
LDAP_HOSTS=
LDAP_BASE_DN=
LDAP_USERNAME=
LDAP_PASSWORD=
LDAP_PASSWORD_SYNC=false
LDAP_LOGIN_FALLBACK=true

PRINT_URL=