# --------------------------------------------
# REQUIRED: MAIN APP SETTINGS
# --------------------------------------------
APP_NAME="myTinyWMS"
APP_ENV=production
APP_DEBUG=false
DEMO_MODE=false
APP_KEY=<<set this!>>
APP_URL=http://localhost/
LOGO_PATH=
HORIZON_NOTIFICATION_RECEIVER=
INVENTORY_MANUAL_RECEIVER=
INVENTORY_AUTOMATIC_RECEIVER=


# --------------------------------------------
# REQUIRED: DATABASE SETTINGS
# --------------------------------------------
MYSQL_PORT_3306_TCP_ADDR=db
MYSQL_PORT_3306_TCP_ADDR=3306
MYSQL_DATABASE=mss
MYSQL_ROOT_PASSWORD=<< set secure password here >>
MYSQL_USER=root
MYSQL_PASSWORD=<< set secure password here >>


# --------------------------------------------
# REDIS SETTINGS - required if queue driver is set to redis!
# --------------------------------------------
QUEUE_DRIVER=sync
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# --------------------------------------------
# REQUIRED: OUTGOING MAIL SERVER SETTINGS
# --------------------------------------------
MAIL_DRIVER=smtp
MAIL_PORT_587_TCP_ADDR=
MAIL_PORT_587_TCP_PORT=
MAIL_ENV_USERNAME=
MAIL_ENV_PASSWORD=
MAIL_ENV_ENCRYPTION=


# --------------------------------------------
# REQUIRED: IMAP MAIL SERVER SETTINGS - for incomming emails
# --------------------------------------------
MAIL_IMAP_HOST=
MAIL_IMAP_PORT=
MAIL_IMAP_ENCRYPTION=
MAIL_IMAP_USERNAME=
MAIL_IMAP_PASSWORD=


# --------------------------------------------
# AUTHENTICATION SETTINGS
# --------------------------------------------
AUTH_DRIVER=eloquent

# set this if AUTH_DRIVER = ldap
LDAP_HOSTS=
LDAP_BASE_DN=
LDAP_USERNAME=
LDAP_PASSWORD=
LDAP_PASSWORD_SYNC=false
LDAP_LOGIN_FALLBACK=true

PRINT_URL=