a {
	@apply text-blue no-underline font-extrabold;
	letter-spacing: 0.03em;

	&:hover {
		@apply opacity-50;
	}
}

h1 {
	@apply mb-6 text-grey-darkest font-normal text-2xl;
}

h2 {
	@apply text-black pt-4;
}

.font-sans-nunito {
    font-family: Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
	font-size: inherit;
}

.overflow-inherit {
	overflow-y: inherit;
}

.text-nowrap {
	@apply whitespace-no-wrap;
}

.text-danger {
	@apply text-red;
}

.text-success {
	@apply text-green;
}

.text-muted {
	@apply text-grey-dark;
}

.bg-primary {
	@apply bg-blue-dark;
}

.bg-success {
	@apply bg-green-light;
}

.bg-danger {
	@apply bg-red-light;
}

.bg-info {
	@apply bg-blue-light;
}

.bg-default {
	@apply bg-grey;
}

.bg-warning {
	@apply bg-orange-light;
}