a {
	@apply text-blue no-underline font-extrabold;
	letter-spacing: 0.03em;

	&:hover {
		@apply opacity-50;
	}
}

h1 {
	@apply mb-6 text-grey-darkest font-normal text-2xl;
}

h2 {
	@apply text-black pt-4;
}

.font-sans-nunito {
  font-family: Nunito,system-ui,BlinkMacSystemFont,-apple-system,sans-serif;
}

.overflow-inherit {
	overflow-y: inherit;
}