.dataTable {
    @apply w-full mb-0;

    thead {
        th {
            @apply bg-grey-lighter font-extrabold text-grey-darkest uppercase border-t border-b-2 border-grey-light p-2 text-xs whitespace-no-wrap;
        }
    }

    tbody {
        tr {
            @apply text-grey-darker;

            .table-action {
                @apply invisible mt-2 block;

                &:first-child {
                    @apply mt-0;
                }
            }

            &:hover .table-action {
                @apply visible;
            }

            &:nth-child(odd) {
                @apply bg-white;
            }

            &:nth-child(even) {
                @apply bg-grey-lighter;
            }

            &.group td {
                @apply bg-grey font-bold text-black;
            }

            td {
                @apply font-light text-sm /*border border-grey-light*/ px-2 py-4 leading-tight align-middle;
            }
        }
    }
}

.table-search {
    @apply h-auto mb-4 w-64 relative;
    font-size: 0;

    input {
        @apply w-64;
        font-size: 16px;
    }
}

.table-wrapper {
    @apply w-full bg-white shadow rounded-lg;
}

.table-header {
    @apply py-4 px-4 flex justify-between;
}

.table-content {
    @apply overflow-inherit relative;
}

.table-toolbar {
    @apply flex justify-between items-start;
}

.table-filter {
    @apply text-grey-dark;

    label {
        @apply flex flex-col mr-4 text-xs;

        select {
            @apply mt-2;
        }
    }
}

#dataTableBuilder_processing {
    @apply text-grey-dark;
}

.table-footer {
    @apply flex py-4 px-2 justify-between items-center border-t border-grey-light;

    .dataTables_info {
        @apply text-sm text-grey;
    }

    .dataTables_paginate {
        .pagination {
            @apply list-reset flex;

            li {
                @apply border border-grey-light text-xs p-2;

                &:first-child {
                    @apply rounded-l;
                }

                &:last-child {
                    @apply rounded-r;
                }
            }
        }
    }
}

.table-toolbar-right {
    @apply flex mb-4 items-center;
}

#header-fixed {
    position: fixed;
    top: 0; display:none;
    background-color:white;

    th {
        &:extend(.dataTable thead th);
    }
}