.dataTable {
    @apply w-full mb-0;

    thead {
        th {
            @apply bg-gray-100 font-extrabold text-gray-500 uppercase border-t-0 border-b-2 border-gray-400 py-2 px-4 text-xs whitespace-no-wrap;
        }
    }

    tbody {
        tr {
            @apply text-gray-700;

            .table-action {
                @apply invisible mt-2 block;

                &:first-child {
                    @apply mt-0;
                }
            }

            &:hover {
                @apply bg-gray-200;

                .table-action {
                   @apply visible;
                }
            }
            &:nth-child(odd) {
                //@apply bg-gray-200;
            }

            &:nth-child(even) {
                //@apply bg-white;
            }

            &.group td {
                @apply bg-white pt-8 border-t-2 border-gray-400 font-bold text-black;
            }

            td {
                @apply text-sm font-semibold px-4 py-4 leading-tight align-middle;

                &.action-col {
                    @apply py-0 px-4 leading-none;
                }
            }
        }
    }
}

.dataTable.multiRow {
    tbody:nth-child(odd) {
        @apply bg-gray-200;
    }

    tbody {
        tr {
            &:nth-child(odd) {
                @apply bg-transparent;
            }

            &:nth-child(even) {
                @apply bg-transparent;
            }
        }
    }
}

.table-search {
    @apply h-auto w-64 relative;
    font-size: 0;

    input {
        @apply w-64 rounded-tl-none rounded-bl-none text-gray-600;
        font-size: 16px;
    }
}

.table-wrapper {
    @apply w-full bg-white shadow rounded px-1;
}

.table-header {
    @apply py-4 px-4 flex justify-between;
}

.table-content {
    @apply overflow-inherit relative;
}

.table-toolbar {
    @apply flex justify-between items-start;
}

.table-filter {
    @apply text-gray-600;

    label {
        @apply flex flex-col mr-4 text-xs;

        select {
            @apply mt-2;
        }
    }
}

#dataTableBuilder_processing {
    @apply text-gray-600;
}

.table-footer {
    @apply flex py-4 px-4 justify-between items-center border-t border-gray-400;

    .dataTables_info {
        @apply text-sm text-gray-500;
    }

    .dataTables_paginate {
        .pagination {
            @apply flex;

            li {
                @apply border border-gray-400 text-xs p-2;

                &:first-child {
                    @apply rounded-l;
                }

                &:last-child {
                    @apply rounded-r;
                }

                &.active {
                    @apply bg-gray-300;
                }
            }
        }
    }
}

.table-toolbar-right {
    @apply flex mb-4 items-center;
}

#header-fixed {
    position: fixed;
    top: 120px;
    display:none;
    background-color:white;

    th {
        &:extend(.dataTable thead th);
    }
}